@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Mystery Quest", serif;
  /* background-color: rgb(131, 194, 236); */
  background: url(portfolioPics/flower\ background.jpeg);
  background-size: auto 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  cursor: pointer;
  margin-left: 40px;
  font-size: 40px;
  letter-spacing: 2px;
}

.menu {
  padding: 12px;
  border-radius: 15px;
}

.nav-links {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-right: 25px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  padding-bottom: 5px;
  font-family: "Montserrat", serif;
}

.nav-links:hover {
  color: orangered;
  border-bottom: 1.5px solid orangered;
}

.intro-page header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 350px;
  /* background-color: pink; */
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #858282;
  z-index: 100;
}

.body {
  margin-top: 20%;
  margin-left: 5%;
  width: 100%;
  overflow-x: hidden;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

span {
  color: orangered;
  font-size: 25px;
}

h2 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.descr {
  color: grey;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 12px;
  font-family: "Montserrat", serif;
  font-size: 15px;
}

.book {
  padding: 17px;
  background-color: transparent;
  border-radius: 15px;
  border-width: 1.5px;
  border-style: groove;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 3px 3px 3px rgb(65, 63, 63);
  transition: 0.5s all ease-in;
  font-family: "Montserrat", serif;
  cursor: pointer;
}

.book:hover {
  background-color: rgb(235, 107, 61);
}

.first-img {
  height: 165px;
  width: auto;
  border-radius: 20px;
  position: absolute;
  top: 16%;
  left: 60%;
  z-index: 2;
}

.second-img {
  height: 230px;
  width: auto;
  border-radius: 10px;
  position: absolute;
  top: 16%;
  left: 85%;
  z-index: 2;
}

.third-img {
  height: 280px;
  width: auto;
  border-radius: 25px;
  position: absolute;
  top: 35%;
  left: 65%;
  z-index: 1;
}

.fourth-img {
  height: 165px;
  width: auto;
  border-radius: 25px;
  position: absolute;
  top: 70%;
  left: 84%;
  z-index: 2;
}

.fifth-img {
  height: 230px;
  width: 170px;
  border-radius: 10px;
  position: absolute;
  top: 60%;
  left: 56%;
  z-index: 2;
}

.intro-page {
  height: 100vh;
  width: 100vw;
}

.crafted {
  margin: 60px 0px 0px 500px;
  font-size: 50px;
  position: relative;

  animation-name: moving-text;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes moving-text {
  0% {
  }

  25% {
    left: -50px;
    top: -50px;
  }

  50% {
    left: -30px;
    top: -100px;
  }

  75% {
    left: -20px;
    top: -70px;
  }

  100% {
  }
}

/* GRID AREA */
.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

.overallContainer {
  display: grid;
  width: 100%;
  /* background-color: blue; */
  grid-template-areas: 
  "header header header  header header header"
  "body body body body body body"
  "footer footer footer footer footer footer"
  ;
}


@media screen and (max-width: 800px) {
  .overallContainer{
    overflow: hidden;
    height: 880px;
  }
  
  .logo{
    display: block;
    position: relative;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 10px
  }

  .menu{
    position: fixed;
    left: ;
    top: auto;
    bottom: 0;
  }
}